mixin content-block(name, category, tags, description, image)
  div(class="content-block #{category}" data-title=name data-category=category data-tags=tags data-description=description)
    div.block-overlay(style="background-image:#{image}")
      h3#name= name
      h5#category= category
