mixin content-block(name, category, tags, description)
  div(class="content-block #{category}" data-title=name data-category=category data-tags=tags data-description=description)
    div.block-overlay
      h3#name= name
      h5#category= category
