extends ../layouts/default

include ../mixins/mixins

block title
  title Clarence Mah - Portfolio

console.log(blockData)
block body
  //- div#particles-js
  nav#navbar(class="navbar navbar-default navbar-fixed-top")
    div.navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-div" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div(class="collapse navbar-collapse" id="collapse-div")
      ul#nav(class="nav navbar-nav")
        li.active: a(href="#home") Home
        li: a(href="#about") About
        li: a(href="#work") Work
        li: a(href="#contact") Contact
  div#home
    div#home-row
      div#logo-box(class=""): img#logo(src="img/face.jpg", alt="Clarence Mah")
      div#home-text(class="")
        h1#name Clarence Mah
        div#tagline= content.tagline
    div#learn-more
      a(href="#about") &darr;
  #about
    div.container
      h2 About
      div#about-text= content.about
      h3 Education
      div#edu-content
        a#edu-seal(href="http://ucsd.edu" target="_blank"): img(src="img/ucsd_seal.png")
        p: a(href="http://ucsd.edu" target="_blank") University of California, San Diego
        p.right 2012 - 2016
        br
        p Bioengineering: Bioinformatics, B.S.
        p.right La Jolla, CA
      div#interests.row
        h3 Current Interests
        div#interest-list.row
          each link, topic in content.interests
            div.interest
              img(src="#{link}", alt="#{topic}")
              h4= topic
  div#work
    div.container
      h2 Portfolio
      div#work-content
        - var data = content.elements
        each section, index in data
          +carousel-item(index, section.blocks)
  footer#contact
    p#contact-text= content.contact_text
    a#email-button(href="mailto:clarence.k.mah@gmail.com") clarence.k.mah@gmail.com
    div#links
      a(href="http://github.com/ckmah", target="_blank"): img(src="img/github-logo.png", alt="github")
      a(href="http://linkedin.com/in/clarencemah", target="_blank"): img(src="img/linkedin-logo.png", alt="linkedin")
      //- a(href="http://", target="_blank") link
