extends ../layouts/default

include ../mixins/mixins

block title
  title Static Website

console.log(blockData)
block body
  //- div#particles-js
  nav#navbar(class="navbar navbar-default navbar-static-top")
    div.navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-div" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar

    div(class="collapse navbar-collapse" id="collapse-div")
      ul#nav(class="nav navbar-nav")
        li.active: a(href="#home") Home
        li: a(href="#about") About
        li: a(href="#work") Work
        li: a(href="#contact") Contact

    //- a#email.icon(href="mailto:clarence.k.mah@gmail.com"): img(src="img/email-logo.png", alt="")
    //- a#linkedin.icon(href="http://linkedin.com/in/clarencemah" target="_blank"): img(src="img/linkedin-logo.png", alt="")
    //- a#github.icon(href="http://github.com/ckmah" target="_blank"): img(src="img/github-logo.png", alt="")
    //- a#resume(href="resume.pdf" target="_blank") Resume
    //- a(href="#home")
    //- a(href="#about")
    //- a(href="#work")
    //- a(href="#contact")
    //- div.container
  div#home
    div#home-row
      div#logo-box(class=""): img#logo(src="img/face.jpg", alt="Clarence Mah")
      div#home-text(class="")
        h1#name Clarence Mah
        div#tagline= content.tagline
  #about
    div.container
      h2 About
      div#about-text= content.about
  div#work
    div#work-carousel(class="carousel slide" data-ride="carousel")
      - var data = content.elements
      //- Indicators
      div#carousel-indicators(class="carousel-indicators" data-spy="affix")
        each section, index in data
          - var klass = (index === 0 ? 'active' : '')
          li(class=klass data-target="#work-carousel" data-slide-to=index)
            div= section.title

      //- slide wrapper
      div.carousel-inner#carousel-inner(role="listbox")
        each section, index in data
          +carousel-item(index, section.blocks)

      //- Controls
      a#carousel-control-left(class="left carousel-control" href="#work-carousel" role="button" data-slide="prev")
        span(class="icon-prev" aria-hidden="true")
        span(class="sr-only") Previous
      a#carousel-control-right(class="right carousel-control" href="#work-carousel" role="button" data-slide="next")
        span(class="icon-next" aria-hidden="true")
        span(class="sr-only") Next
  div#contact
    div#contact-text= content.contact_text
    a#email-button(href="mailto:clarence.k.mah@gmail.com") clarence.k.mah@gmail.com
    div#links
      a(href="http://github.com/ckmah", target="_blank"): img(src="img/github-logo.png", alt="github")
      a(href="http://linkedin.com/in/clarencemah", target="_blank"): img(src="img/linkedin-logo.png", alt="linkedin")
      //- a(href="http://", target="_blank") link
