extends ../layouts/default

include ../mixins/mixins

block title
  title Clarence Mah - Portfolio

console.log(blockData)
block body
  ul#nav.nav.nav-pills
    li.active(role="presentation"): a(href="#home")
      h3.nav-text Home
    li(role="presentation"): a(href="#about")
      h3.nav-text About
    li(role="presentation"): a(href="#work")
      h3.nav-text Work
    li(role="presentation"): a(href="#contact")
      h3.nav-text Contact
  span#nav-toggle.glyphicon.glyphicon-menu-hamburger(aria-hidden="true")
  .section#home
    div#home-row
      div#logo-box(class=""): img#logo(src="img/face.jpg", alt="Clarence Mah")
      div#home-text(class="")
        h1#title Hello, I'm Clarence.
        div#tagline= content.tagline
    div#learn-more
      a(href="#about") &darr;
  .section#about
    div.container
      h2 Who am I?
      p#about-text= content.about
  div#work-before
  .section#work
    div.container
      div#interests.row
        h2 Interests / Activities
        div#interest-list.row
          each link, topic in content.interests
            div.tag= topic
              //- img(src="#{link}", alt="#{topic}")
      div#work-content
        - var data = content.elements
        each section, index in data
          +carousel-item(index, section.blocks)
  footer#contact
    p#contact-text= content.contact_text
    a#email-button(href="mailto:clarence.k.mah@gmail.com") clarence.k.mah@gmail.com
    div#links
      a(href="http://github.com/ckmah", target="_blank"): <span class='symbol'>circlegithub</span>
      a(href="http://linkedin.com/in/clarencemah", target="_blank"): <span class='symbol'>circlelinkedin</span>
      //- a(href="http://", target="_blank") link
